{% extends 'base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block body %}

<div class="col-md-offset-3 col-md-3"></div>

{% if request.user.is_authenticated %}

{% if request.user.account_type == 'jobseeker' %}
<h2><u>Job Seeker</u></h2>
{% else %}
<h2><u>Recruiter</u></h2>
{% endif %}

<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>


{% else %}

<div class="jumbotron">
    <h3>Hello,</h3>
    <p>Please <a href="{% url 'login' %}">click here</a> to login.
    If you don't have an account yet, you can sign up <a href="{% url 'signup' %}">here</a>.
    </p>
</div>


{% endif %}

</div>

{% endblock body %}